/* 전체 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  font: normal 12px "고딕";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}

#admin-container {
  position: relative;
  width: 980px;
  height: auto;
  margin: 0 auto;

  /* 헤더영역 */
  header {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("~/public/images/admin_bg.jpg");
    padding: 12px;
    box-sizing: border-box;
  }

  header > p {
    float: right;
  }
  header > p > a {
    color: #fff;
  }

  /* 왼쪽 사이드 */
  main {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  main > aside {
    float: left;
    width: 176px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
  }

  main > aside > h3 {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(204, 204, 204);
    font-size: 14px;
  }

  main > aside > ul {
    padding: 16px;
    box-sizing: border-box;
  }
  main > aside > ul > li {
    line-height: 22px;
    margin-top: 10px;
  }

  main > aside > ul > li.on > span {
    font-weight: bold;
    text-decoration: underline;
  }

  main > aside > ul > li > ol {
    color: #111;
    text-indent: 10px;
  }
  main > aside > ul > li > ol > li {
    line-height: 22px;
  }
  main > aside > ul > li > ol > li::before {
    content: "·";
    margin-right: 4px;
  }

  main > aside ol > li > a:hover {
    text-decoration: underline;
  }

  /* 메인 컨텐츠 */
  main > section {
    float: right;
    width: 804px;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
  }

  main > section > nav > h3 {
    font-size: 17px;
    font-weight: bold;
    color: #3f3f3f;
  }

  main > section > article {
    margin-top: 12px;
  }
  main > section > article > h3 {
    margin: 6px 0;
  }
  main > section > article > h3 > .more {
    float: right;
  }
  main > section > article table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #333;
  }
  main > section > article table tr {
    border-bottom: 1px dotted #999;
  }
  main > section > article table tr > th {
    padding: 12px;
    background-color: #fbfbfb;
  }
  main > section > article table tr > td {
    padding: 12px;
    text-align: center;
  }

  /* 푸터영역 */
  footer {
    width: 100%;
    height: auto;
    background-color: #353535;
    padding: 12px;
    box-sizing: border-box;
  }

  footer > p {
    color: #fff;
  }

  /* 상품관리(목록) */
  #productList {
  }
  #productList > article {
  }
  #productList > article > table {
  }
  #productList table {
  }
  #productList table .thumb {
    width: 60px;
  }
  #productList > article > p {
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  #productList .productDelete {
    float: left;
  }

  #productList .productRegister {
    float: right;
  }
  #productList .productRegister {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }

  #productList .productRegister:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  #productList .paging {
    text-align: center;
  }

  #productList .paging > .on {
    font-weight: bold;
    text-decoration: underline;
  }

  /* 상품관리(등록) */
  #productRegister {
  }
  #productRegister > article {
  }

  #productRegister table {
  }
  #productRegister table tr {
  }
  #productRegister table tr > td {
    text-align: left;
  }
  #productRegister table tr > td:first-child {
    width: 12%;
  }
  #productRegister table tr > td > label {
    margin-right: 16px;
  }
  #productRegister table tr > td > p {
    margin-bottom: 8px;
  }
  #productRegister table tr > td > p > span {
    display: block;
    margin-bottom: 2px;
  }

  #productRegister form > p {
    margin: 12px 0;
    text-align: center;
  }
  #productRegister form .btnCancel {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }

  #productRegister form input[type="submit"] {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }

  #productRegister form input[type="submit"]:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  /* 주문관리 */
  #orderList > article > p {
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  #orderList .paging {
    text-align: center;
  }

  #orderList .paging > .on {
    font-weight: bold;
    text-decoration: underline;
  }
}
